* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #e3b1b1;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #e27272;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

iframe {
    width: 80vw; /* 80% del ancho de la ventana del navegador */
    height: 80vh; /* 60% de la altura de la ventana del navegador */
}

